

.nav-ui li{
  display: inline-block;
  padding: 10px;
}
.nav-ui li a{
color: white;
padding: 5px;
text-decoration: none;
}
.nav-ui {
  margin: 0px;
  background-color: skyblue;
  padding: 0;
  text-decoration: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: skyblue;
}
.inputBox{

    display: block;
    margin: 20px;
    padding: 5px;
    width: 300px;
    border: 1px solid skyblue;
}
.register{
  margin-left: 30%;
}
.signup-button{
  margin:25px;
  padding:10px;
  width:100px;
  background-color:skyblue;
  border:1px solid ;
  cursor:pointer
}
.login{
  margin-left: 30%;
  margin-top: 100px;

}

.login-inputBox{
  display: block;
    margin: 20px;
    padding: 5px;
    width: 300px;
    border: 1px solid skyblue;

}
.login-button{
  margin:25px;
  padding:10px;
  width:100px;
  background-color:skyblue;
  border:1px solid ;
  cursor:pointer

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
